$color-green:#29852b; //Used for buttons and navigation
$color-green-hover:#1d6a1e; //Hover for above

$color-green-dark:#1d6a1e; //Used for buttons and navigation

$color-green-darker:#004b0b;
$color-green-darker-hover:#013c09;

$color-green-light:#a8baa8; //Used for statistics background
$color-green-lighter:#66b51c; //Used for link in the meta nav (login)

$color-dark-blue:#324072; //statistics and cta
$color-dark-blue-hover:#053367; //Hover for above
$color-dark-blue-light: #a7a8b8; //statistics background

$color-aqua:#56a5b5; //Statistics
$color-aqua-light:#bed2d4; //Statistics bg

$color-gray: #494949; //Used for meta nav bg, text
$color-gray-meta: #424242; //Used for meta nav bg, text
$color-gray-pin: #333; //Used for meta nav bg, text
$color-gray-dark:#282828; //Used for search button bg
$color-gray-darker:#333333; //Used for links sitemap and footer
$color-gray-light:#cccccc; //Links in the meta nav

$color-beige:#f8f6f2; //Used for background of container block home
$color-beige-dark: #cdc9b8; //Used for social media icons
$color-beige-darker: #777466; //Used for hover effect sliders
$color-beige-light: #faf8f5; //Used for hover effect news slider and background sitemap
$color-beige-light-hover:#cdc9b8; //Hover for above

$color-white:#fff; //Used for backgrounds
$color-black:#000; //Used for hovered links in main nav